[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
statsmodels = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
